
  <div id="cover">
      <%= image_tag "header.jpg" %>
      <div class="cover-text">
        <h1>Raid Wave</h1>
      </div>
        <%= image_tag "logo-surf-and-paddle.svg", :class =>"text-top-head"%>
      <div class="top-head">
        <p>RAID WAVE.BLOG</p>
      </div>
      <div id="cover-nav-text">
        <p>About Search</p>
      </div>
  </div>

    <div id="article">
      <div class="article-header">
        <h2><%= @post.title %></h2>
      </div>
      <div class="article-header-info">
        <%= image_tag "circlepic.jpg" %>
        <p class="author"><%= @post.author %></p>
        <p>on <%= @post.created_at.strftime("%B %e, %Y")  %></p>
      </div>
        <p><%= @post.body%></p>
        <br />
        <h3 class="quote">Blah Blah Blah</h3>
        <p><%= @post.body%></p>

        <button type="button" class="btn btn-default">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>Read Comments</button>
          <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>Read Later</button>
            <button type="button" class="btn btn-default">
              <span class="glyphicon glyphicon-share" aria-hidden="true"></span>Share This Post</button>

    </div>
    <div id="infobar">
      <%= image_tag "circlepic", :class => "author"%>
      <p class="infobar-section-heading"><%= @post.author %></p>
      <a href="#">Twitter</a> | <a href="#">Instagram</a> | <a href="#">Facebook</a>
      <a href="#"><%= image_tag "sidepic.jpg", :class => "advert"%></a>
      <div class="infobar">
        <h3>Header</h3>
        <p class="article-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
    </div>
    <div id="bottombar">
      <h1 class="bottombar-text">Most Popular Post</h1>
    </div>


    <!-- <div id="footlinks">
      <div class="screen"></div>

        <div class="text">
        </div>
      </div> -->


    <div id="footer">
      <a href="#"><%= image_tag "ironlogo.svg"%></a>
      <p class="footer-left">The Iron Yard Copyright 2013, All Rights Reserved</p>
      <div class="footer-right">
        <a href="https://www.linkedin.com/">Author</a> | <a href="http://theironyard.com/">The Iron Yard</a> |
        <a href="https://www.google.com/">Link 3</a> | <a href="https://www.instagram.com/">Link 4</a>
      </div>
    </div>
